SUPABASE_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
GQL_HOST=https://eu-graphql.contentstack.com/stacks/bltf679a4fb5e352b3f?environment=production
ACCESS_TOKEN=
NUXT_MAX_VOTES=5
NUXT_VOTE_TIMEOUT="100"
NUXT_CONFERENCE="#ContentConEurope"
NUXT_SHOW_VOLUME=false
NUXT_PLAUSIBLE_KEY=""