@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white font-[Lato];
    background: #000 url("/loader.svg") no-repeat;
    background-position: center;
    min-height: 100vh;
  }

  main {
    @apply bg-black;
  }

  html,
  body {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }

  img,
  video {
    width: 100%;
    height: auto;
  }

  a,
  button {
    @apply bg-none underline underline-offset-2;
  }

  .fancy-image {
    @apply border-2;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      89.87deg,
      #256ad1 7.57%,
      #d1258c 95.58%
    );
  }

  .fancy-bg {
    background: linear-gradient(89.87deg, #256ad1 7.57%, #d1258c 95.58%);
  }

  .flowing-title {
    background: linear-gradient(89.87deg, #256ad1 7.57%, #d1258c 95.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    white-space: initial;
  }

  .cta {
    @apply w-[180px] py-2 px-3 border-2 text-white bg-black font-black no-underline uppercase text-sm;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      89.87deg,
      #256ad1 7.57%,
      #d1258c 95.58%
    );
  }

  .cta-fancy {
    @apply w-[180px] py-2 px-3 border-2 text-white font-black no-underline uppercase text-sm;
    background: linear-gradient(89.87deg, #256ad1 7.57%, #d1258c 95.58%);
    border-image-slice: 1;
    border-image-source: linear-gradient(
      89.87deg,
      #256ad1 7.57%,
      #d1258c 95.58%
    );
  }

  .cta-negative {
    @apply w-[180px] py-2 px-3 border-2 text-[#ADADAD] bg-[#585858] border-[#585858] font-black no-underline uppercase text-sm;
  }
}
